div.iframe{
  overflow: hidden;
}

iframe{
  width:100%;
  height:550px;
  border:none;
}

.cluster rect {
  /* fill: #65b687 !important; */
  stroke: #aaaa33;
  stroke-width: 1px;
}

.content-container{
  max-width: 788px !important;
}
.vp-doc h2{
  margin-top:10px;
}